.Navbar {
  background-color: grey;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.Navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar li {
  margin: 0 1rem;
}

.Navbar a {
  color: #fff;
  text-decoration: none;
}
