/* .Nav{
  justify-content: space-around;
  background-color: gray;

}
.Navbar{
margin: 1px solid black; */
/* margin-bottom: 1px solid black;
background-color: mint;
padding: 1px;
display: flex;
color: black;
} */
.about-container{
  background:url("../images/foodie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
  text-align: center;
  font-style: italic;
  padding-bottom: 75vh;
  background-color: rgba(0, 0, 0, 0.9);


}
.navbar {
  height: 4em;
  display: flex;
  align-items: center;
  flex: row;
  position: relative;
}

.navbar span {
  display: flex;
  width: 40%;
  right: 0;
  position: absolute;
  justify-content: space-evenly;
}

.Navbar span h3 {
  cursor: pointer;
}

.Navbar span h3:hover {
  cursor: pointer;
  color: blueviolet;
}
/* .name{
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  width: 80;
  text-decoration: blue; */
  /* position:absolute;
  bottom: 0px;
  } */

