.about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:mintcream;
  box-shadow: 0 0 10px rgba(15, 2, 2, 0.2);
}

.about-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #fff;
  background-color: #333;
}

