/* .Nav{
  justify-content: space-around;
  background-color: gray;

}
.Navbar{
margin: 1px solid black; */
/* margin-bottom: 1px solid black;
background-color: mint;
padding: 1px;
display: flex;
color: black;
} */
.about-container{
  background:url("../images/images.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
  text-align: center;
  font-style: italic;
  padding-bottom: 75vh;
  /* background-color: rgba(0, 0, 0, 1.7); */
  

}
.about-container h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.about-container p {
  font-size: 20px;
  font-weight:bold;
  line-height: 1.5;
  color: white;
  min-height: 45vh; /* set minimum height to the viewport height */
  margin-bottom: 20px;
}
.section {
  flex: 1; /* make the section take up all available vertical space */
}

.footer {
  margin-top: auto; /* push the footer to the bottom */
}




